usability-study\*.log
usability-study\*.synctex.gz
usability-study\user_context.pdf
usability-study\apple-maps.pdf
usability-study\google-maps.pdf
usability-study\satisfaction.pdf
usability-study\task1.pdf
usability-study\task2.pdf
usability-study\task3.pdf
usability-study\*.aux
usability-study\ios-bar-icons.png