img.avatar {
    height: 24px;
}
.nav {
    max-height:300px;
    overflow-y:auto;
}

body{
    padding-top: 70px;
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}

table {
    table-layout:fixed;
}

.div-table-content {
  height:400px;
  overflow-y:auto;
}