.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;
    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}
.nav {
    max-height: 300px;
    overflow-y: auto;
}
body {
    padding-top: 70px;
}
.im-centered {
    margin: auto;
    max-width: 300px;
}
.center-table {
    margin: 0 auto !important;
    float: none !important;
}
table {
    table-layout: fixed;
}
.div-table-content {
    height: 400px;
    overflow-y: auto;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.vertical-center {
    vertical-align: middle;
}
.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}
.center-modal-content {
    text-align: center;
}
.modal-instructions>p {
    text-align: center;
    font-style: italic;
}
.active {
    background: #69f;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}
table td {
    line-height: 18px;
    padding: 12px 8px;
    text-align: left;
    vertical-align: top;
}
.pressed {
    background: #DCDCDC;
}

